<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Jist</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/jist.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <style type="text/css" media="screen">
        #editor {
            min-height: 300px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <nav>
                <h1>Jist</h1>
            </nav>
        </div>
    </div>
        <div class="row">
            <div class="eight columns">
                <h4>New File</h4>

                <div id="editor">{{jist}}</div>
                <br/>
                {{#isNewJist}}<button>+ Add File</button>{{/isNewJist}}
            </div>
            {{#isNewJist}}
            <div class="four columns">
                <button onclick="saveJist()">Save Jist</button>
                <br/>
                <button onclick="editor.setValue('')">Clear Jist</button>
                <textarea class="result"></textarea>
            {{/isNewJist}}
            </div>
        </div>
    <div class="row footer">
        <div class="twelve columns">
            <a href="http://www.samatkinson.com">&copy Sam Atkinson.</a>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/javascript");
        {{^isNewJist}}editor.setReadOnly(true);{{/isNewJist}}

    function saveJist(){
        $.post("/add", { jist : editor.getValue()},function( data ) {
            $( ".result" ).html( data );
        })
    }
</script>
</body>
</html>
