<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Jist</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/jist.css">
    <script src="/js/matchmedia.addListener.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/matchmedia.polyfill.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/respond.js" type="text/javascript" charset="utf-8"></script>


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <style type="text/css" media="screen">
        #editor {
            min-height: 300px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <nav>
                <h1>Jist</h1>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <h4>New File</h4>
        </div>
        <div class="six columns">
            <select class="keybinding" onchange="changeKeyBinding()">
                <option selected disabled>Key Binding</option>
            </select> 
            <select class="theme" onchange="changeTheme()">
                <option selected disabled>Theme</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div id="editor">{{jist}}</div>
        <br/>
            <!-- {{#isNewJist}}<button>+ Add File</button>{{/isNewJist}}-->
    </div>
    <div class="row">
        {{#isNewJist}}
            <button class="save" onclick="saveJist()">Save Jist</button>
            <button class="clear" onclick="editor.setValue('')">Clear Jist</button>
            <span style="display: none;" class="result">You can access this jist from: </span><input type="text" style="display: none;" onclick="this.setSelectionRange(0, this.value.length)" class="result" size="27"/>
        {{/isNewJist}}
    </div>

</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseWorker(false);
    initTheme();
    initKeyBinding();
            {{^isNewJist}}editor.setReadOnly(true);{{/isNewJist}}

    function saveJist() {
        $.post("/add", {jist: editor.getValue()}, function (data) {
            $(".result").val('http://{{server}}/jists/' + data);
            $(".result").show();
            $(".save").hide();
            $(".clear").hide();
        })
    }

    function initTheme() {
        var themes = [
            'ambiance',
            'chrome',
            'clouds',
            'clouds_midnight',
            'crimson_editor',
            'dawn',
            'dreamweaver',
            'eclipse',
            'github',
            'idle_fingers',
            'kr_theme',
            'merbivore',
            'merbivore_soft',
            'monokai',
            'pastel_on_dark',
            'solarized_dark',
            'solarized_light',
            'textmate',
            'tomorrow',
            'tomorrow_night',
            'tomorrow_night_eighties',
            'twilight',
            'vibrant_ink',
            'xcode'
        ], theme,
        elSelect = $('.theme');
        for (var i = 0; i < themes.length; i++) {
            elSelect.append('<option value="' + themes[i] + '">' + themes[i] + '</option>');
        }
        if ('localStorage' in window && window.localStorage) {
            theme = localStorage.getItem('jistTheme');
        }
        theme = theme || 'chrome';
        editor.setTheme('ace/theme/' + theme);
    }

    function initKeyBinding() {
        var keyBindings = [
            'ace',
            'emacs',
            'vim'
        ], keyBinding,
        elSelect = $('.keybinding');
        for (var i = 0; i < keyBindings.length; i++) {
            elSelect.append('<option value="' + (keyBindings[i] === 'ace' ? '' : 'ace/keyboard/' + keyBindings[i]) + '">' + keyBindings[i] + '</option>');
        }
        if ('localStorage' in window && window.localStorage) {
            keyBinding = localStorage.getItem('jistKeyBinding');
        }
        keyBinding = keyBinding || '';
        editor.setKeyboardHandler(keyBinding); 
    }

    function changeTheme() {
        var theme = $('.theme').val();
        editor.setTheme('ace/theme/' + theme);
        if ('localStorage' in window && window.localStorage) {
            localStorage.setItem('jistTheme', theme);
        }
    }

    function changeKeyBinding() {
        var keyBinding = $('.keybinding').val();
        editor.setKeyboardHandler(keyBinding);
        if ('localStorage' in window && window.localStorage) {
            localStorage.setItem('jistKeyBinding', keyBinding);
        }

    }
</script>
</body>
</html>
